/AirCoolControll/*.sdf
/AirCoolControll/x64
/AirCoolControll/AirCoolControll/GeneratedFiles
/AirCoolControll/AirCoolControll/Debug
/AirCoolControll/AirCoolControll.v12.suo
/AirCoolControll/AirCoolControll/x64
/AirCoolControll/Setup/bin
/AirCoolControll/Setup/obj