/AirCoolControll/*.sdf
/AirCoolControll/AirCoolControll/GeneratedFiles
/AirCoolControll/AirCoolControll/Debug
/AirCoolControll/Setup/obj
/AirCoolControll/Setup/bin
/AirCoolControll//AirCoolControll/x64
/AirCoolControll//AirCoolControll/win32