<?xml version="1.0" encoding="UTF-8"?>

<?define ProductName="Air Cool Controll" ?>
<?define ProductVersion="0.0.2.3" ?>
<?define ProductCode="9800FAA6-5A28-47FE-A28C-BFC1D474CF97"?>
<?define UpgradeCode="d340f6da-1e73-47f9-83c8-ec8301b499c8"?>
<?define Manufacturer="TECO Ltd"?>

<?if   $(var.AirCoolControll.Configuration)="Debug"?>
  <?define Qt5Core="Qt5Cored"?>
  <?define Qt5Gui="Qt5Guid"?>
  <?define Qt5Widgets="Qt5Widgetsd"?>
  <?define Qt5SerialPort="Qt5SerialPortd"?>
  <?define Qt5Network="Qt5Networkd"?>
  <?define Qt5PrintSupport="Qt5PrintSupportd"?> 
<?else?>
  <?define Qt5Core="Qt5Core"?>
  <?define Qt5Gui="Qt5Gui"?>
  <?define Qt5Widgets="Qt5Widgets"?>
  <?define Qt5SerialPort="Qt5SerialPort"?>
  <?define Qt5Network="Qt5Network"?>
  <?define Qt5PrintSupport="Qt5PrintSupport"?> 
<?endif?>

  <Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="d340f6da-1e73-47f9-83c8-ec8301b499c8">
		<Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate  EmbedCab="yes" />
    
    <Icon Id="icon.ico" SourceFile="$(var.AirCoolControll.ProjectDir)../../Images/app_icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<Feature Id="ProductFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ConfigComponents" />
      <ComponentRef Id="ApplicationShortcutAirCoolControll" />
		</Feature>
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" ></Property>
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>
    <UIRef Id="WixUI_InstallDir"/>
    
    <CustomAction Id ="CA.StartAppOnExit" FileKey ="MainExecutable" ExeCommand  ="" Execute ="immediate" Impersonate ="yes" Return ="asyncNoWait" /> 
  
    <DirectoryRef Id="TARGETDIR">
      <?if   $(var.AirCoolControll.Platform)="x64"?>
        <Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC120_CRT_x64.msm" DiskId="1" Language="0"/>
      <?else?>
        <Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC120_CRT_x86.msm" DiskId="1" Language="0"/>
      <?endif?>
    </DirectoryRef>
  
    <Feature Id="VCRedist" Title="Visual C++ 12.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRedist"/>
    </Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="$(var.ProductName)"> 
          <Directory Id="CONFIGSFOLDER" Name="configs"/>
        </Directory>
			</Directory>
    
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)">
          <Component Id="ApplicationShortcutAirCoolControll" Guid="*">
            <Shortcut Id="ShortcutCalc"
              Name="AirCoolControll"
              Description="$(var.ProductName)"
              Target="[INSTALLFOLDER]AirCoolControll.exe"
              WorkingDirectory="INSTALLFOLDER"
              Icon="icon.ico" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent">
				  <File Id='MainExecutable' DiskId='1' Source='$(var.AirCoolControll.TargetDir)AirCoolControll.exe'/>
			</Component> 
      <Component Id="QtComponent1">
				  <File Id='icudt53' DiskId='1' Source='$(env.QTDIR)/bin/icudt53.dll '/>
      </Component>
      <Component Id="QtComponent2">
          <File Id='icuin53' DiskId='1' Source='$(env.QTDIR)/bin/icuin53.dll '/>
      </Component>
      <Component Id="QtComponent3">
          <File Id='icuuc53' DiskId='1' Source='$(env.QTDIR)/bin/icuuc53.dll '/>
      </Component>
      <Component Id="QtComponent4">
          <File Id='core' DiskId='1' Source='$(env.QTDIR)/bin/$(var.Qt5Core).dll '/>
      </Component>
      <Component Id="QtComponent5">
          <File Id='gui' DiskId='1' Source='$(env.QTDIR)/bin/$(var.Qt5Gui).dll '/>
      </Component>
      <Component Id="QtComponent6">
          <File Id='widgets' DiskId='1' Source='$(env.QTDIR)/bin/$(var.Qt5Widgets).dll '/>
      </Component>
      <Component Id="QtComponent7">
          <File Id='serialport' DiskId='1' Source='$(env.QTDIR)/bin/$(var.Qt5SerialPort).dll '/>
      </Component>
      <Component Id="QtComponent8">
          <File Id='network' DiskId='1' Source='$(env.QTDIR)/bin/$(var.Qt5Network).dll '/>
      </Component>
      <Component Id="QtComponent9">
          <File Id='printsupport' DiskId='1' Source='$(env.QTDIR)/bin/$(var.Qt5PrintSupport).dll '/>
      </Component>
		</ComponentGroup>
	</Fragment>
    
  <Fragment>
		<ComponentGroup Id="ConfigComponents" Directory="CONFIGSFOLDER">
      <Component Id="ConfigComponent">
				  <File Id='Config1' DiskId='1' Source='$(var.AirCoolControll.ProjectDir)../../configs/TEKO_COOLER_0_0_1.xml'/>
			</Component>
		</ComponentGroup>
	</Fragment>
  
</Wix>